:root {
    --primary-color: #0F172A;
    --secondary-color: #64748B;
    --accent1-color: #3B82F6;
    --accent2-color: #F8FAFC;
    --heading-font: serif;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 100px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 330px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);

}

.hero article img {
    float: right;
    width: 150px;
    border: 1px solid black;
    padding: 5px;

}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;

}

header nav {
    border: 3px solid black;
    text-decoration: none;
    background-color: var(--accent1-color);

}

header img {
    border: 1px solid black;
    max-width: 150px;
    justify-self: center;
}

.history {
    display: grid;
    grid-template: repeat(3, 1fr);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    justify-items: center;

}

.history h2 {
    grid-column: span 3;
    justify-self: center;
    padding: 10px;
}

.history img {
    max-width: 250px;
    padding: 5px;
    border: 2px solid black;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    justify-items: center;
}

.adventure h2 {
    grid-column: span 5;
    justify-self: center;
}

.adventure img {
    max-width: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}