:root {
    --background-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid;
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 820px;
}

aside {
    width: 200px;
    text-align: center;
    position: relative;
}

aside img {
    width: 150px;
    height: auto;
}

h2 {
    position: absolute;
    top: 20px;
    left: 10px;
}

footer {
    margin-top: 10px;
    border-top: 2px solid black;
    text-align: center;
}

/*class selector*/
.box {
    margin: 1rem;
    border: 1px solid red;
    padding: 1rem;
    background-color: lightgrey;
    color: blue;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}